body {
    margin: 0;
    padding: 0;
    background-image: url("../img/edit-task.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

