<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Info</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <div th:replace="fragments/head-css :: head-css"/>


</head>

<body>

<!-- TODO: add children-->

<div>

    <p> This is the about page</p>
</div>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>