<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/about.css" rel="stylesheet">
    <title>About</title>
</head>
<body>
<div id="about-section">
    <h1>Meet your new organizational friend</h1>
    <p>
        You are in the right place if you want to plan ahead the chores you share with your children.
        We know how important it is to give the little ones the significant lesson that is the sense of responsibility. Either it is sweeping, doing the dishes, dusting, cleaning out their room, walking the dog, doing the homework, or any other activity you want to share with your child, here is where all this can happen.
    <p/>
    <p>
        This can help you organize some of your child's activities, but it will also make him happy with the rewards you choose to give him in return for a job well done. This way you can enjoy more free time that you can spend with the little one as you wish.
    </p>
</div>
</body>
</html>